<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>LOGIN ANGULAR WITH FIREBASE - BY JOSE UREÑA</span>
      <div class="spacer"></div>
  </div>

<section class="vh-350">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-350">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://thumbs.dreamstime.com/b/man-key-near-computer-account-login-password-vector-male-character-design-concept-business-illustration-landing-page-158893916.jpg"
                     class="img-fluid" alt="Sample image">
            </div>
            
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <br><br><div class="divider d-flex align-items-center my-4">
                        <h4 class="text-center fw-bold mx-3 mb-0">Registro de Usuarios</h4>
                    </div>

                <!--Formulario para el registro de usuarios a Firebase-->
                <form (ngSubmit)="registrar()" [formGroup]="registrarusuario">          
                    <div class="form-outline mb-4">
                        <input id="email" type="email" formControlName="email" class="form-control form-control-lg" placeholder="Ingrese su email" required>
                        <h6 class="form-label" for="form3Example3">Email</h6>
                    </div>

                    <div class="form-outline mb-3">
                        <input id="pass" type="password" formControlName="password" class="form-control form-control-lg" data-type="password" placeholder="Ingrese su contraseña" required>
                        <h6 class="form-label" for="form3Example4">Password</h6>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit">
                            Registrar Usuario
                        </button>
                    </div>
                </form>       
                <div class="divider d-flex align-items-center my-4">
                    <h4 class="text-center fw-bold mx-3 mb-0">Regresar a Login</h4>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-success btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;" [routerLink]="'/login'">
                                Login
                            </button>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">

                 </div>
            </div>
         
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. By Jose Ureña Aguilar.
        </div>
        <!-- Copyright -->
